<section class="main-stuff">
  <section class="col col-2-3">
    <section class="col col-1-3">
      <a href="#"><h1>Launching the New React/Redux Curriculum</h1></a>
			<p class="byline">By APP ACADEMY INSTRUCTIONAL TEAM</p>
      <ul>
        <li>
          It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
        </li>
        <li>
          The whole state of your app is stored in an object tree inside a single store.
          The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
        </li>
        <a href="#">1738 Comments</a>
      </ul>
    </section>
    <section class="col col-2-3">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
      <p>Warning: This video will make you want to change your career</p>
      <a href="#">Where Are They Now?</a>
      <p>By APP ACADEMY ALUMNI</p>
      <ul>
        <li>
          First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
        </li>
      </ul>
      <h2>Cat Academy</h2>
      <p>By APP ACADEMY DIRECTOR OF PRODUCTS</p>
      <ul>
        <li>
          App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
        </li>
      </ul>
    </section>
    <section class="col col-1-3">
      <!-- <h2>The Opinion Pages</h2> -->
    </section>
  </section>
</section>
